<div class="row">
    <div class="col-lg-1 ml-auto text-center mb-5 mb-lg-0">
        <a href="https://wa.me/62811466114"><i class="fab fa-3x fa-whatsapp-square mb-3 text-muted"></i></a>
    </div>
    <div class="col-lg-1 mr-auto text-center">
        <a class="d-block" href="https://instagram.com/smada_2011?igshid=7z0x43zuftkb"><i class="fab fa-3x fa-instagram-square mb-3 text-muted"></i></a>
    </div>
</div></br>
<div class="container"><div class="small text-center text-muted">Copyright © 2020 - @smada_2011</div></div>